<!DOCTYPE html>
<html>
<head>
  <title>TwitterChallenge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/header" %>

  <%= yield %>

  <%= render :partial => "layouts/handlebars_templates_generator" %>
  <%= javascript_include_tag "application" %>

  <script type="text/javascript">
    TwitterChallenge.init();
  </script>

</body>
</html>
